@import "tailwindcss";

@theme {
  --color-obsidian: #121212;
  --color-neon-cyan: #00f3ff;
  --color-neon-magenta: #ff00ff;
  --color-electric-blue: #0055ff;
  
  --font-sans: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  body {
    @apply bg-obsidian text-white font-sans antialiased;
  }
}
